* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.content-card {
  font-family: 'Fasthand', cursive;
  margin: 20px;
  border: 1px solid red;
}

.content-card p {
  margin-bottom: 10px;
}
